
*{
	font-family: "Markazi Text", "Karla", serif;
	color:  #000000;
	font-weight: 500;
	font-size: 1.04rem;
	padding:0;
	margin:0;
}

.fnt-1
{
	color: #F4CE14;
	font-weight: 500;
	font-size: 16pt;
	font-family:  "Karla", serif;
}

.fnt-2
{
	color: #000000;
	font-weight: 500;
	font-size: 14pt;
	font-family: "Markazi Text", serif;
}

.fnt-3
{
	color: #000000;
	font-weight: normal;
	font-size: 12pt;
	font-family: "Markazi Text", serif;
	line-height: 10pt;
}

.fnt-4
{
	color: #555555;
	font-weight: normal;
	font-size: 12pt;
	font-family: "Markazi Text", serif;
	line-height: 10pt;
}

.fnt-B
{
	color: rgba(0,0,0,0);
	font-weight: normal;
	font-size: 2pt;
	font-family: "Markazi Text", serif;
	line-height: 8pt;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
  	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.nav-bar
{
	width: calc(100vw-120px);
	height: auto;
	margin-left: 60px ;
	margin-right: 60px ;
    display: grid;
	grid-template-columns: 120px repeat(6, 1fr);
    align-items:center;
	text-align: center;
	text-overflow: ellipsis;

}
.nav-bar > a,li,Link
{
	font-family:  "Karla", serif;
	color: black;
	text-shadow: #d3d3d3 1px 1px;
	font-size: 0.82rem;
}
.nav-bar > a:hover
{
	text-shadow: 1px 1px 2px #F4CE14, 0 0 1em #F4CE14, 0 0 0.2em #F4CE14;
}
.nav-bar > a:active
{
	color: white;
	text-shadow: 1px 1px 2px #F4CE14, 0 0 1em #F4CE14, 0 0 0.2em #F4CE14;
}
.nav-img
{
	width:auto;
	height:auto;
}

.hero
{
	width: 100%;
	height:auto;
	background-color: #495E57;
	background: linear-gradient(162deg, rgba(73,94,87,1) 0%, rgba(73,94,87,1) 35%, rgba(56,69,65,1) 100%);
}

.hero-div
{
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	margin-left: 60px;
	margin-right: 60px;
	width: calc(100vw-120px);
	height:auto;
	/* border: 1px solid #000000; */
}
.hero-div-1
{
	grid-column-start:1;
    grid-column-end: 6;
	height:auto;
	padding-top: 0.5rem;
	padding-left: 0.5rem;
	padding-bottom: 0.5rem;
}
.hero-div-2
{
	grid-column-start:6;
    grid-column-end: 11;
	/* background-color: white; */
	height:auto;
}

.button-yellow, .online_menu_button  
{
	background-color: #F4CE14;
	background: linear-gradient(162deg, rgba(255,224,73,1) 0%, rgba(244,206,20,1) 35%, rgba(207,174,17,1) 100%);
	border-radius: 8px;
	padding: 1px 15px;
	font-size: 13px;
	border: 2px solid rgba(0, 0, 0, 0.0);
	font-family:  "Karla", serif;
	box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
	vertical-align: middle;
	text-shadow: 1px 1px 2px rgb(106, 105, 29);
}
.button-yellow:hover , .online_menu_button:hover  
{
	border: 2px solid rgba(0, 0, 0, 0.4);
 	background: radial-gradient(circle, rgba(254,228,100,1) 0%, rgba(255,218,38,1) 35%, rgba(254,214,22,1) 100%);
}

.online_menu_button
{
	margin-top: 0.5em;
	float: right;
 
}

.hero-img
{
    float: right;
	grid-column-start:8;
	height: 30vw;
	margin-top:1rem;
	margin-bottom:1rem;
	border-radius: 16px;
	box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.4);

}


.specials
{
	width: 100%;
	height:auto;
	background: rgb(255,255,255);
    /* background: linear-gradient(177deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 0%, rgba(255,253,168,1) 100%); */
}

.specials-div
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(2, auto);
	margin-left: 60px;
	margin-right: 60px;
	width: calc(100vw-120px);
	height:auto;
}

.specials-div-top
{
	grid-column-start:1;
	grid-column-end: 4;
	grid-row-start:1;
	grid-row-end:2;
	/* background-color: rgb(174, 0, 255); */
}

.specials-div-1
{
	grid-column-start:1;
    grid-column-end: 2;
	grid-row-start:2;
	grid-row-end:3;
	height:100;
	/* background-color: red; */
}
.specials-div-2
{
	grid-column-start:2;
    grid-column-end: 3;
	grid-row-start:2;
	grid-row-end:3;
	height:100;
	/* background-color: yellow; */
}

.specials-div-3
{
	grid-column-start:3;
    grid-column-end: 4;
	grid-row-start:2;
	grid-row-end:3;
	height:100;
	/* background-color: blue; */
}

.specials-inner
{

	background-color: rgba(220,220,200,0.7);
	border-radius: 16px 16px 0px 0px;
	margin: 0.5rem 0.3rem;
	padding-bottom: 0.5rem;
}


.specials-img
{
	height: auto;
	width:auto;
	margin-bottom: 1rem;
	border-radius: 16px 16px 0px 0px;
	box-shadow: 0px 4px 4px 2px rgba(0, 0, 0, 0.4);
}

.specials-img-delivery
{
	height: 16px;
	
	display:inline;
}


.about
{
	width: 100%;
	height:auto;
	background-color: #F4CE14;
}

.about-div
{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-left: 60px;
	margin-right: 60px;
	width: calc(100vw-120px);
	height:auto;
	/* border: 1px solid #000000; */
}
.about-div-1
{
	grid-column-start:1;
    grid-column-end: 2;
	height:auto;
	padding-top: 0.5rem;
	padding-left: 0.5rem;
	padding-bottom: 0.5rem;
}
.about-div-2
{
	grid-column-start:2;
    grid-column-end: 3;
	/* background-color: white; */
	height:auto;
}

footer
{
	background-color: #495E57;
	background: linear-gradient(162deg, rgba(73,94,87,1) 0%, rgba(73,94,87,1) 35%, rgba(56,69,65,1) 100%);
	border-bottom: solid #000000 4px;
    padding:0px;
	margin: 0px;
	height:auto;
}

menu
{
	width: calc(100vw-120px);
	padding: 20px 0;
	margin: 0px  60px;
	grid-template-columns: repeat(4, 1fr);
	display: grid;
	list-style: none;
	text-align: left;
	line-height: .8em;
}


menu img
{
	height: 100px;
	box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.5), 0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.5);
}